body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container12 {
    background-color: #fff;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input {
    padding: 12px;
    border: 2px solid #007bff;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #0056b3;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}
select{
    padding: 12px;
    border: 2px solid #007bff;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}
select:focus {
    border-color: #0056b3;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}
textarea{
    padding: 12px;
    border: 2px solid #007bff;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}
textarea:focus {
    border-color: #0056b3;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 91, 187, 0.5);
}
button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}


header {
    text-align: center;
    padding: 20px;
    background-color: #555;
    color: white;
}

.form-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.footer {
    background-color: #3383ff; 
    color: white; 
    padding: 20px 0;
    text-align: center; 
}

.footer h2 {
    margin-bottom: 15px;
}

.footer p {
    margin: 10px 0;
    line-height: 1.5; 
}

.Welcome {
    background-color: #3383ff;
}

/* Responsive Design */

@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 15px;
    }

    form {
        padding: 15px;
    }

    button {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 20px;
    }

    input {
        font-size: 14px;
        padding: 8px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }
}
